<section class="contenedor">
    <div class="header">
        <h2><mat-icon color="warn">shuffle</mat-icon> Tipos de Movimiento</h2>
        <button mat-flat-button color="primary" (click)="abrirCrear()">
            <mat-icon>add</mat-icon> Nuevo tipo
        </button>
    </div>

    <table mat-table [dataSource]="tiposMovimiento" class="mat-elevation-z8">

        <ng-container matColumnDef="codigo_origen">
            <th mat-header-cell *matHeaderCellDef> Código Origen </th>
            <td mat-cell *matCellDef="let tipo"> {{ tipo.codigo_origen }} </td>
        </ng-container>

        <ng-container matColumnDef="codigo_destino">
            <th mat-header-cell *matHeaderCellDef> Código Destino </th>
            <td mat-cell *matCellDef="let tipo"> {{ tipo.codigo_destino }} </td>
        </ng-container>

        <ng-container matColumnDef="descripcion">
            <th mat-header-cell *matHeaderCellDef> Descripción </th>
            <td mat-cell *matCellDef="let tipo"> {{ tipo.descripcion }} </td>
        </ng-container>

        <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef> Acciones </th>
            <td mat-cell *matCellDef="let tipo">
                <button mat-icon-button color="primary" (click)="abrirEditar(tipo)">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button color="warn" (click)="eliminarTipo(tipo.id || tipo._id)">

                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</section>