<h2 mat-dialog-title>Editar tipo de movimiento</h2>

<form [formGroup]="form" (ngSubmit)="guardar()" class="form-container">
  <mat-form-field class="full-width">
    <mat-label>Código Origen</mat-label>
    <input matInput formControlName="codigo_origen" />
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label>Código Destino</mat-label>
    <input matInput formControlName="codigo_destino" />
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label>Descripción</mat-label>
    <input matInput formControlName="descripcion" />
  </mat-form-field>

  <div class="actions">
    <button mat-button type="button" (click)="cancelar()">Cancelar</button>
    <button mat-flat-button color="primary" type="submit" [disabled]="form.invalid">
      Guardar
    </button>
  </div>
</form>
