.pocket-container {
    padding: 24px;
  }
  
  .pocket-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .full-width {
    width: 100%;
  }
  
  .color-box {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    margin-right: 8px;
    vertical-align: middle;
  }
  